<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Codeutsava_2.2</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>gmfcsController</display-name>
    <servlet-name>gmfcsController</servlet-name>
    <servlet-class>sis.com.controller.gmfcsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gmfcsController</servlet-name>
    <url-pattern>/gmfcsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>gmfcs1Controller</display-name>
    <servlet-name>gmfcs1Controller</servlet-name>
    <servlet-class>sis.com.controller.gmfcs1Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gmfcs1Controller</servlet-name>
    <url-pattern>/gmfcs1Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>gmfcs2Controller</display-name>
    <servlet-name>gmfcs2Controller</servlet-name>
    <servlet-class>sis.com.controller.gmfcs2Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gmfcs2Controller</servlet-name>
    <url-pattern>/gmfcs2Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>gmfcs3Controller</display-name>
    <servlet-name>gmfcs3Controller</servlet-name>
    <servlet-class>sis.com.controller.gmfcs3Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gmfcs3Controller</servlet-name>
    <url-pattern>/gmfcs3Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchDiseaseController</display-name>
    <servlet-name>SearchDiseaseController</servlet-name>
    <servlet-class>sis.com.controller.SearchDiseaseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchDiseaseController</servlet-name>
    <url-pattern>/SearchDiseaseController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>locomotionController</display-name>
    <servlet-name>locomotionController</servlet-name>
    <servlet-class>sis.com.controller.locomotionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>locomotionController</servlet-name>
    <url-pattern>/locomotionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SensationController</display-name>
    <servlet-name>SensationController</servlet-name>
    <servlet-class>sis.com.controller.SensationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SensationController</servlet-name>
    <url-pattern>/SensationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StrengthController</display-name>
    <servlet-name>StrengthController</servlet-name>
    <servlet-class>StrengthController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StrengthController</servlet-name>
    <url-pattern>/StrengthController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NormalController</display-name>
    <servlet-name>NormalController</servlet-name>
    <servlet-class>sis.com.controller.NormalController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NormalController</servlet-name>
    <url-pattern>/NormalController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hearingController</display-name>
    <servlet-name>hearingController</servlet-name>
    <servlet-class>sis.com.controller.hearingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hearingController</servlet-name>
    <url-pattern>/hearingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hearing1Controller</display-name>
    <servlet-name>hearing1Controller</servlet-name>
    <servlet-class>sis.com.controller.hearing1Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hearing1Controller</servlet-name>
    <url-pattern>/hearing1Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hearing2Controller</display-name>
    <servlet-name>hearing2Controller</servlet-name>
    <servlet-class>sis.com.controller.hearing2Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hearing2Controller</servlet-name>
    <url-pattern>/hearing2Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hearing3Controller</display-name>
    <servlet-name>hearing3Controller</servlet-name>
    <servlet-class>sis.com.controller.hearing3Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hearing3Controller</servlet-name>
    <url-pattern>/hearing3Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorRegistrationController</display-name>
    <servlet-name>DoctorRegistrationController</servlet-name>
    <servlet-class>sis.com.controller.DoctorRegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorRegistrationController</servlet-name>
    <url-pattern>/DoctorRegistrationController</url-pattern>
  </servlet-mapping>
  
  
 <servlet>
    <description></description>
    <display-name>queryEmailController</display-name>
    <servlet-name>queryEmailController</servlet-name>
    <servlet-class>sis.com.controller.queryEmailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryEmailController</servlet-name>
    <url-pattern>/queryEmailController</url-pattern>
  </servlet-mapping>
</web-app>